@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid var(--light-grey);*/
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    padding: 0;
}
:root{
    --magenta: #E93656;
    --dark-blue: #131A36;
    --gray: #282828;
    --light-grey: #FAFAFA;
    --cyan: #0081FF;
}
.text-magenta{color: var(--magenta);}
.text-gray{color: var(--gray);}
.text-cyan{color: var(--cyan);}
.text-huge{font-size: 4em;}

section{
    padding: 2em;
    top: 0;
    margin: 0;
}
#brand h1{
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.img-resp{
    max-height: 500px;
}
#cover{
    background: lightgrey;
    height: 100vh;
}
.dot{
    font-size: 2em;
    margin: 0px;
    padding: 0px;
}
.flex-wrap{
    display: flex;
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 5px;
}
#social-icons{
    list-style: none;
    padding: 0px;
}
#social-icons li{
    display: inline-block;
}
#social-icons img{
    max-height: 24px;
}
#right-aligned{
    right: 20px;
    position: absolute;
    margin-top: -20px;
    display: inline-block;
}
.bar{
    height: 6px;
    width: 100%;
    background-color: var(--magenta);
    display: inline-block;
}